block variables
  - let siteTitle = "default"

doctype
html(lang="en")
  head
    include ../includes/_metatags-favicon
    //- link(rel="stylesheet" type="text/css" href="/styles/index.css")

    //- Might only work when crossorigin has been configured properly
    //- https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content
    //- each font in styles.fonts
    //-   link(
    //-     rel="preload"
    //-     type="font/woff2"
    //-     as="font"
    //-     href=font.src
    //-     crossorigin="anonymous"
    //-   )

    link(
      rel="preload"
      type="text/css"
      as="style"
      href="/styles/index.css"
      onload='this.rel = "stylesheet"'
    )

    link(
      rel="preload"
      type="text/javascript"
      as="script"
      href="/scripts/index.js"
    )

    noscript
      link(
        rel="stylesheet"
        type="text/css"
        href="/styles/index.css"
      )

    title= siteTitle

    block head

  body
    header
      include ../components/_nav

    div(data-router-wrapper)
      block main
        h1 default main block

    footer
      include ../components/_footer

    include ../components/_mousecursor
    //- script.
    //-   if ("serviceWorker" in navigator) {
    //-     window.addEventListener("load", () => {
    //-       navigator.serviceWorker.register("/js/service-worker.js")
    //-       //- .then(function() { console.log("Service Worker Registered") })
    //-     });
    //-   }
    script(src="/scripts/index.js")
    //- script(crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js")
